[project]
name = "homelab"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "ansible>=12.1.0",
    "loguru>=0.7.3",
    "proxmoxer>=2.2.0",
    "requests>=2.32.5",
]
